.appbar-container {
    margin-right: 10px; /* Adjust the spacing between the avatar and navbar */
    display: flex;
    flex-grow: 1;

}

.AppBar {
    position: fixed;
}



.header {
  top: 0;
  position: sticky;
  height: 64px;
  width: 100%;
 

  align-items: center; /* Center align the items vertically */
  justify-content: center; /* Center align the items horizontally */
  height: auto;
}