.welcome-page {
    display: flex;
    justify-content: center;
    color: white;
}
  
.welcome-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2%;
}

.Portrait-right {
    flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 2%;
    max-height: 80%;
}


.welcome-name {
    text-align: left;
    font-size: 5vw;
}


.welcome-text .welcome-name {
    margin-top: 10%;
}

.welcome-text .brief-intro {
    margin-top: 7%;
    font-size: 2vw;
    font-weight: bold;
}

.brief-intro a {
    color: rgb(146, 146, 146);
    text-decoration: none;
}

.welcome-page .Portrait-right .ant-image{
    width: 80%;
    height: auto;
    vertical-align: middle;
    margin: 0 0 0 0;
}


@media screen and (max-width: 768px) {
    .welcome-page {
        flex-direction: column;
        align-items: center;
    }
    .welcome-text {
        text-align: center;
        margin-top: 2%;
    }
    .welcome-name {
        text-align: center;
        font-size: 32px;
    }

    .welcome-text .welcome-name {
        margin-top: 5%;
    }
    .welcome-text .brief-intro {
        margin-top: 0;
        font-size: 24px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Portrait-right {
        margin: 5%;
    }
    .welcome-page .Portrait-right .ant-image{
        width: 100%;
        height: auto;
        vertical-align: middle;
        margin: 0 0 0 0;
    }

    
}