.main-content {
    background-color: #112545;
    display: flex;
    flex-direction: row;
}

.Intro {
    width: 93%;

    background-color: #112545;
}

.anchor-container {
    position: fixed;
    right: 0;
    width: 7%;
    background-color: #112545;
}

.ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor::before {
    border-inline-start: 2px solid #807e7e
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
    color: white;
}

.intro-name {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    color: white;
}

.english-name .chinese-name {
    text-align: center;


}

.english-name {
    padding-right: 2%;
    display: flex;
}

.chinese-name {
    padding-left: 2%;
    display: flex;
}


#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alpaca-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    margin-right: 1%;


}

.alpaca-text {
    flex: 1;
    color: white;
    width: 60%;
    justify-content: center;
    margin-left: 1%;
    margin-right: 4%;
    font-size: 24px;
    line-height: 1.5;

}

@media screen and (min-width: 768px) {
    .alpaca-text {
      font-size: 28px; 
    }
}

@media screen and (max-width: 480px) {
    .alpaca-text {
      font-size: 16px; 
    }
  }


#about-me {
    color: white;
    margin-left: 2%;
    font-size: 24px;
    line-height: 1.5;
}

.shanghai-list {
    list-style-position: inside;
    padding-left: 0;
}


#hobbies {
    color: white;
    font-size: 24px;
    text-align: left;
    margin-left: 2%;
}

.hobby-divider {
    margin-left: 2%;
}

.ant-divider-plain.ant-divider-with-text {
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 2%;
}


.ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed::before {
    border-color: white;
}

.ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed::after {
    border-color: white;
}

.hobbies-list {
    font-size: 24px;
    line-height: 1.5;
    list-style-position: inside;
    padding-left: 0;
    display: inline-block;
    text-align:left;
}