.main-content {
    background-color: #112545;
    display: flex;
    flex-direction: row;
}

.Intro {
    width: 92%;

    background-color: #112545;
}

.anchor-container {
    position: sticky;
    right: 0;
    width: 8%;
    background-color: #112545;
}

.ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor::before {
    border-inline-start: 2px dotted white
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
    color: white;
}

.intro-name {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    color: white;
}

.english-name .chinese-name {
    text-align: center;


}

.english-name {
    padding-right: 2%;
    display: flex;
}

.chinese-name {
    padding-left: 2%;
    display: flex;
}





#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alpaca-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 1%;


}

.alpaca-text {
    flex: 1;
    color: white;
    width: 60%;
    justify-content: center;
    margin-left: 1%;
    margin-right: 4%;
    font-size: 32px;
    line-height: 1.5;

}

@media screen and (min-width: 768px) {
    .alpaca-text {
      font-size: 36px; 
    }
}

@media screen and (max-width: 480px) {
    .alpaca-text {
      font-size: 28px; 
    }
  }


#hobbies {
    color: white;
    font-size: 32px;
}