.navbar-container {
  display: flex;
  align-items: center; /* Center align the items vertically */
  justify-content: center;
  flex-grow: 1;
}

.navbar-list li a {
  text-decoration: none;
  color: white;
}
