.welcome-page {
    display: flex;
    justify-content: center;
    color: white;
}
  
.welcome-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2%;
}

.Portrait-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}


.welcome-name {
    text-align: left;
    font-size: 5vw;
}

/* Additional styling as per your requirements */
.welcome-text .welcoming {
    font-size: 24px;

}

.welcome-text .welcome-name {

    margin-top: 10%;
}

.welcome-text .brief-intro {
    margin-top: 5%;
    font-size: 3vw;
    font-weight: bold;
}

/* Add any other styles as needed */
