.avatar-container {
    align-items: center;
    display: flex;
}

.avatar-name {
    margin-left: 10px;
    color: white;
}

.avatar-img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;

  }

  .avatar-link {
    display: inline-block;
  }