.avatar-container {
    align-items: center;
    display: flex;
}

.avatar-name-container {
    text-decoration: none;
}

.avatar-name {
    margin-left: 10px;
    color: white;
}


.avatar-link {
    display: inline-block;
}