.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact-info, #email {
    font-size: 2.5vw;
}

.contact-text {
    margin-bottom: 10%;
    margin-top: 3%;
}